[Unit]
Description=Bluelink Service
After=network.target

[Service]
ExecStart=/opt/bluelink/venv/bin/python /opt/bluelink/bluelink_manage.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
