[Unit]
Description=Bluelink Service
After=network.target

[Service]
ExecStart=sudo /usr/bin/python /opt/bluelink/manager.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
