[Unit]
Description=Bluelink Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 /opt/bluelink/bluelink/bluelink_manage.py
Restart=on-failure

[Install]
WantedBy=multi-user.target
